
<div class="row bg-#fec4ff" >
    <div class="offset-3 col-6">
      <form >
      <!-- titre -->
      <h1 class="text-center text-primary my-5">Bienvenue dans notre blog</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="add.png" class="card-img-top" alt="add img">
        <div class="card-body">
          <h5 class="card-title">Ajouter un poste</h5>
          <p class="card-text">Vous pouvez ajouter un nouveau poste </p>
          <p class="card-text">Il suffit que vous remplissez les informations</p>
          <a href="add-post" class="btn btn-primary">Ajouter</a>

        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="update.png" class="card-img-top" alt="update img">
        <div class="card-body">
          <h5 class="card-title">Mettre à jour un poste</h5>
          <p class="card-text">Vous pouvez mettre à jour un poste</p>
          <p class="card-text">Il suffit que vous remplissez les informations</p>
          <a href="update-post" class="btn btn-primary">Mettre à jour</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="liste.png" class="card-img-top" alt="liste png">
        <div class="card-body">
          <h5 class="card-title">Vous pouvez consulter la liste des  postes</h5>
          <p class="card-text">Vous pouvez consulter la liste des  postes les mttre à jour et supprimer</p>
          <a href="list-post" class="btn btn-primary">Liste poste</a>
        </div>
      </div>
    </div>
    
  </div>
      </form>
      </div>
</div>